{% load bootstrap3 %} {% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>New post</title>
  <style>
  .page{
    background: linear-gradient(silver, grey, silver);
    height: 1000px;
  }
  </style>
  {% include "navbar.html" %}

  <div class="page">
  <div class="container ">
    <div class="col-md-6" "col-md-offset-5">
  <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
     sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi <br>
      ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit<br>
       in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint<br>
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>
  </div>
  <!-- Trigger the modal with a button -->
  <div class="col-md-6" "col-md-offset-5">

  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
</div>
  <!-- Modal -->
  
</div>
</div>
  {{form.media}}


{% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/newphoto.css' %}"> {% endblock %}

</head>

<body>



   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}

</body>

</html>
