{%extends "registration/base.html"%} {% load bootstrap3 %}
{% block content %}
<style>
.main{
  height: 1000px;
  background: linear-gradient(#1e1b1c, #828793, pink);
  justify-content: center;
}
.main .panel{
  margin-top: 200px;
}
.main h1{
  font-style: italic;
  font-family: sans-serif ;
  text-decoration: underline;
  font-size: 45px;
}

</style>
<div class="main"
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
        <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center">Sign Up</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/register/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}
